# 1- What are data structures, and why are they important?

Data structures are ways to store, organize, and manage data efficiently.
They are important because they help in fast access, modification, and efficient memory usage.

# 2- Explain the difference between mutable and immutable data types with examplesP

**Mutable** → can be changed after creation

Examples: list, dict, set

**Immutable** → cannot be changed after creation

Examples: int, float, str, tuple

# 3- What are the main differences between lists and tuples in Python?

**List**  is mutable and **Tuple** is immutable.

# 4-Describe how dictionaries store data?

**Dictionaries** store data as key–value pairs, where:

Keys are unique and immutable

Values can be of any type.

# 5-Why might you use a set instead of a list in Python?

When we  need unique unordered elements in that case we use set instead of list.

# 6- What is a string in Python, and how is it different from a list?

A **string** is collection of characters and is immutablwe so it cannot be updated.

A **list** is mutable, so its elements can be updated, added, or removed.

# 7- How do tuples ensure data integrity in Python?

**Tuples** are immutable, so their data can not be changed at any cost. This feature ensures data safety.

# 8- What is a hash table, and how does it relate to dictionaries in Python?

A hash table stores data using hashing for fast access.

Python dictionaries are implemented using hash tables.

# 9-Can lists contain different data types?

Yes list can store mixed of different types of data.

# 10- Explain why strings are immutable in Python?

Strings are immutable to:

1-Improve performance

2-Ensure memory efficiency

3-Enable safe reuse of string objects

# 11- What advantages do dictionaries offer over lists for certain tasks?

Meaningful data representation

Faster lookup using keys

Efficient for large datasets

# 12- Describe a scenario where using a tuple would be preferable over a list?

When you need data safety to use fixed data, that can not be modify in that case you can use tuple.

# 13- How do sets handle duplicate values in Python?

Set removes the dubplicate values automatically.

# 14-P How does the “in” keyword work differently for lists and dictionaries?

In a **List**, **in**  keyword is used to check existence of values.

In a **Dictionary**, **in** keyword is used to check existence of key.

# 15- Can you modify the elements of a tuple? Explain why or why not?

No. We can not modify the tuple. Because tuple is immutable/unchangeble once it's  created.

# 16-What is a nested dictionary, and give an example of its use case?

A dictionary inside another dictionary, that is nested dictionary.

# 17- Describe the time complexity of accessing elements in a dictionary?

Average time complexity is O(1) (constant time).

# 18-In what situations are lists preferred over dictionaries?

Lists are preferred when:

Order matters

Index-based access is needed

Simple sequential data is stored

# 19-  Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionary is unordered because internally it uses hash table to store data in key-value pairs.

Hash values decide where data is stored in memory.

Storage position is not sequential.

# 20-Explain the difference between a list and a dictionary in terms of data retrieval?

Using **List**  we can retrieve the data by using index number.

Using **Dictionary** we can retrieve the data by using key name.

# ---------------Practical Questions-----------

###  Write a code to create a string with your name and print it.

In [ ]:
name = "Laxman"
print(name)

Deepak

### Write a code to find the length of the string "Hello World".

In [1]:
strs = "pwskills"
len(strs)

8

### Write a code to slice the first 3 characters from the string "Python Programming".

In [2]:
s = "Python Programming"
s[:3]

'Pyt'

###  Write a code to convert the string "hello" to uppercaseP

In [3]:
s="python"
s.upper()

'PYTHON'

###  Write a code to replace the word "apple" with "orange" in the string "I like     apple".

In [4]:
text="I like learning"
new_text = text.replace("learning","coding")
print(new_text)

I like coding

###  Write a code to create a list with numbers 1 to 5 and print it

In [12]:
lists=[i for i in range(1,6)]
lists

[1, 2, 3, 4, 5]

###  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [5]:
lists=[1,2,3,4,5,6]
lists.append(10)
print(lists)

[1, 2, 3, 4, 5, 6, 10]

### Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [6]:
lists=[1,2,3,4]
lists.remove(3)
lists

[1, 2, 4]

### Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [26]:
lists = ["a","b","c","d"]
lists[1]

'b'

### Write a code to reverse the list [10, 20, 30, 40, 50].

In [1]:
lists = [10,20,30,40,50]
lists[::-1]

[50, 40, 30, 20, 10]

###  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [28]:
tup= (100,200,300)
print(tup)

(100, 200, 300)

###  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [29]:
tups = ('red', 'green', 'blue', 'yellow')
tups[1:4]

('green', 'blue', 'yellow')

###  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [35]:
numbers = (10, 20, 5,15)

min_num = numbers[0]

for num in numbers:
    if num<min_num:
        min_num=num
print(min_num)

5

### Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [37]:
tup = ("dog", "cat","rabbit")
index = tup.index("cat")
index

1

### Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [38]:
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print("Kiwi is exist in fruits")
else:
    print("Kiwi is not exist in fruits")

Kiwi is not exist in fruits

### Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [41]:
new_set = {"a","b","c"}
print(new_set)

{'c', 'a', 'b'}

### Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [43]:
sets={1,2,3,4,5}
sets.clear()
sets

set()

### Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [2]:
sets_1={1,2,3,4}
sets_1.discard(4)
sets_1

{1, 2, 3}

### Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [3]:
sets_1={1,2,3}
sets_2={3,4,5}

sets_1 | sets_2

{1, 2, 3, 4, 5}

### Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [5]:
set_1={1,2,3}
set_2={2,3,4}

set_1 & set_2

{2, 3}

### Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [1]:
dict={"name":"Laxman","age":32,"city":"Bangalore"}
print(dict)

{'name': 'Laxman', 'age': 32, 'city': 'Bangalore'}

### Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict_2={"name":"John","age":25}
dict_2.update({"country":"USA"})
dict_2

{'name': 'John', 'age': 25, 'country': 'USA'}

###  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
data = {'name': 'Alice', 'age': 30}
print(data["name"])

Alice

###  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict={"name":"Bob","age":22,"city":"New York"}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

### Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict_4={'name': 'Alice', 'city': 'Paris'}
print("city" in dict_4)

True

### Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:

my_list = [1, 2, 3, 4]


my_tuple = (10, 20, 30)


my_dict = {"name": "Alice", "age": 25}


print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(10, 20, 30)
{'name': 'Alice', 'age': 25}

### Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random
numbers = random.sample(range(1,101),5)
print(sorted(numbers))

[6, 40, 51, 77, 79]

### Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "guava", "date"]


print(fruitlist[3])

guava

###  Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1,**dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Write a code to convert a list of strings into a set.

In [ ]:
lists=["apple", "banana", "cherry", "kiwi", "date"]

print(set(lists))

{'cherry', 'banana', 'date', 'kiwi', 'apple'}